<!DOCTYPE html>
html(lang="id")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie:edge")
        title PUG STARTER KIT
        link(rel="stylesheet", href="./css/main.css?cb=123")
    body
        div#header 
            div.logo
                a(href="#") PUG STARTER KIT 
                    sup Admin Dashboard

        div#container
            .sidebar
                ul#nav
                    li
                        a(href="#") Dashboard
                    li
                        a(href="#") Page
            .content
                h1 This is starter kit for your project
                p This is test for content Page
                .spacer
                .container
                    .spacer
                    .row
                        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                            input(type="hidden" name="cmd" value="_s-xclick")
                            input(type="hidden" name="hosted_button_id" value="VUD3ME6DUHU3U")
                            table
                                tr
                                    td
                                        input(type="hidden" name="on0" value="Buy Me a Coffee")
                                        | Buy Me a Coffee
                                tr
                                    td
                                        .custom-select
                                            select(name="os0")
                                                option(value="small") small $2,50 USD
                                                option(value="medium") medium $5,00 USD
                                                option(value="big") big $10,00 USD

                            .spacer
                            input(type="hidden" name="currency_code" value="USD")
                            input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                            img(alt="" border="0" src="https://www.paypalobjects.com/id_ID/i/scr/pixel.gif" width="1" height="1")

        script(src="./js/main.js?cb=123")