<!DOCTYPE html>
html(lang="id")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie:edge")
        title PUG STARTER KIT
        link(rel="stylesheet", href="./css/main.css?cb=123")
    body
        div#header 
            div.logo
                a(href="#") done 
                    span Admin Dashboard
        
        div#container
            .sidebar
                ul#nav
                    li
                        a(href="#") Dashboard
                    li
                        a(href="#") Page
            .content
                h1 This is starter kit for your project
                p This is test for content Page


script(src="./js/main.js?cb=123")